<!-- Sección de Registro de Cliente -->
<div class="registro-cliente">
  <h2>Ingresar Auto, Creación Factura</h2>
  <br>
  <!--
  <label for="txtTotal">Numero:</label>
  <input id="txtTotal" [(ngModel)]="factura.numero" />
  -->
  <label for="txtFechaIngreso">Fecha de Factura:</label>
  <input id="txtFechaIngreso" type="time" [(ngModel)]="factura.fecha" placeholder="Hora de ingreso" disabled />
  <br />
  <label for="txtCedula">Cedula Cliente:</label>
  <input id="txtCedula" [(ngModel)]="factura.cliente.cedula" />
  <br />
  <label for="txtTicket">Numero Ticket:</label>
  <input id="txtTicket" [(ngModel)]="factura.ticket.numero" />
  <br>
  <label for="txtTotal">Total:</label>
  <input id="txtTotal" [(ngModel)]="factura.total" required disabled />
<!--
  <button (click)="calcularCosto()">Calcular</button>
  -->
  <br />
  <br />
  <button (click)="agregarFactura()">Guardar</button>
  <br>
  <br>
  <label for="txtTotal">Numero:</label>
  <input id="txtTotal" [(ngModel)]="factura.numero" />
</div>

<div class="listado-clientes">
  <h2>Listado de Facturas</h2>
  <ul>

    <li *ngFor="let factura of listadoFacturasWS">
      {{ factura.numero }} - {{ factura.fecha }} - {{ factura.total }} - {{ factura.cliente.cedula }} -{{
      factura.ticket.numero }}
      <button (click)="listar(factura)">Actualizar Costo</button>
      <!--
        <button (click)="eliminarPersona(cliente)">Eliminar</button>
        <button (click)="listar(cliente)">Listar</button>
        -->
    </li>

  </ul>
</div>